{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
[Unit]
Description=Turn the Blinkstick off
Before=sleep.target shutdown.target halt.target reboot.target hibernate.target

[Service]
Type=oneshot
ExecStart={{ ansible_user_dir }}/.virtualenvs/dotfiles/bin/blinkstick off
NoNewPrivileges=yes

[Install]
WantedBy=sleep.target shutdown.target halt.target reboot.target hibernate.target
