[Unit]
Description=Pacman mirrorlist update
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --verbose --country Australia --country Singapore --country "New Zealand" --country "United States" --protocol https --fastest 10 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
WantedBy=multi-user.target
