{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
[settings]
debug = false
hidefilenames = false
ignore =
    COMMIT_EDITMSG$
    PULLREQ_EDITMSG$
    MERGE_MSG$
    TAG_EDITMSG$
api_key={{ wakatime_api_key }}
