[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/plugins/artisan"]
	path = zsh/plugins/artisan
	url = https://github.com/jessarcher/zsh-artisan.git
[submodule "zsh/plugins/zsh-aws-vault"]
	path = zsh/plugins/zsh-aws-vault
	url = https://github.com/blimmer/zsh-aws-vault.git
