{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
{%- for profile in aws_profiles %}

[{{ profile.name }}]
aws_access_key_id = {{ profile.access_key }}
aws_secret_access_key = {{ profile.secret_key }}
{% endfor %}
