{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
# vi: ft=gitconfig noexpandtab
[includeIf "gitdir:~/"]
	path = .gitconfig-play
[includeIf "gitdir:~/he/"]
	path = .gitconfig-he
[user]
	signingkey = 0A336FAEEE507041
[commit]
	gpgsign = true
[core]
	editor = nvim
	longpaths = true # avoid Windows complaining about filename lengths
	pager = less -F -X
	whitespace = space-before-tab,-indent-with-non-tab,tab-in-indent,trailing-space
[init]
	templateDir = {{ ansible_user_dir }}/projects/dotfiles/files/home/git-templates/
[color]
	ui = true # show colour by default
[diff]
	submodule = log
[diff "ansible-vault"]
	textconv = ansible-vault view
	cachetextconv = true
[grep]
	linenumber = true
[alias]
	br = branch
	ci = commit -v
	ca = commit -v --amend
	st = status
	s = status -s --branch
	f = fetch
	m = merge
	d = diff
	diffc = diff --cached
	diffw = diff -w
	diffp = diff --cached @{push} # diff to what is currently pushed (without including pending)
	diffcw = diff -w --cached
	diffwc = diff -w --cached
	orig = !find . -name '*.orig' -delete
	lolan = log --graph --pretty=custom --all -n 15 # show all branches limited to 15 log entries
	loln = log --graph --pretty=custom -n 10 # limit to 10 log entries
	l = log --graph --pretty=custom -n 10 # limit to 10 log entries
	op = push -u origin HEAD
	om = merge origin/master
	od = merge origin/develop
	reh = reset --hard @{push}
	rebm = rebase -i origin/master
	rebd = rebase -i origin/develop
	uci = reset --soft HEAD^ # undo a commit to staging area
	uns = reset HEAD -- # remove files from staging area
	# show all commits on one branch not on the other
	missing = log --graph --left-right --cherry-pick --oneline # HEAD...<branch>
	unpushed = log --graph --left-right --cherry-pick --oneline HEAD...@{push}
	zap = fetch -p # prune remote tracked branches
	wip = rebase -i @{push}
[log]
	date = local # default to local time in logs
	decorate = true # show ref names by default
[pretty]
	custom = format:%w(80,0,4)%C(auto)%d %h [%cn %cr]%Creset%n %s
[status]
	submoduleSummary = true
[push]
	#default = current # push current branch to branch with matching name. This is nice to use, but status doesn't show tracking info
	default = simple # only push to registered tracking branch
	followTags = true
[credential]
	helper = cache --timeout=900 # remember credentials for 15mins
	; helper = osxkeychain
[merge]
	conflictstyle = diff3 # also show original text in merge conflicts
	tool = vimdiff # use vim for conflict resolution in terminal
# [help]
#	autocorrect = 5
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
	enabled = true
