{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
---
endpoint: {{ jira_endpoint }}
login: {{ jira_email }}
password-source: pass

custom-commands:
  - name: mine
    help: display issues assigned to me
    script: |-
      {% raw %}{{jira}}{% endraw %} list --template table --query "assignee = currentUser() AND status not in (Done, Closed) ORDER BY updatedDate DESC"
  - name: br
    help: open ticket matching current branch
    script: |-
      {% raw %}{{jira}}{% endraw %} browse $(git rev-parse --abbrev-ref HEAD)
  - name: v
    help: view ticket matching current branch
    script: |-
      {% raw %}{{jira}}{% endraw %} view $(git rev-parse --abbrev-ref HEAD)
