configuration {
    modi: "drun,run";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-clipboard: "  Clipboard";
    display-desk: "  Desk height";
    sidebar-mode: true;
}

@theme "catppuccin-macchiato"
