{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
# change mode on blinkstick so anyone can access it
SUBSYSTEM=="usb", ATTR{idVendor}=="20a0", ATTR{idProduct}=="41e5", MODE:="0666"
