{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
{% for config in aws_config %}

{% for section, hash in config.items() %}
[{{ section }}]
{% for key, value in hash.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endfor %}
{% endfor %}
# vim: ft=dosini
