{{ ansible_managed | comment('plain', prefix='#################################', postfix='#################################') }}
[core]
restore_state = true

[http]
enabled = false

[stream]
enabled = false

[file]
enabled = false

[local]
enabled = false
media_dir = ~/music

[m3u]
enabled = false

[mpd]
enabled = true
hostname = unix:$XDG_CONFIG_DIR/mpd/socket
max_connections = 5

[audio]
mixer = software
output = pulsesink

[gmusic]
enabled = false
username = {{ mopidy_gmusic_username }}
password = {{ mopidy_gmusic_password }}
bitrate = 320

[spotify]
enabled = true
username = {{ mopidy_spotify_username }}
password = {{ mopidy_spotify_password }}
client_id = {{ mopidy_spotify_client_id }}
client_secret = {{ mopidy_spotify_client_secret }}
bitrate = 320
timeout = 5
private_session = true
allow_playlists = true

[spotify_web]
enabled = true
client_id = {{ mopidy_spotify_client_id }}
client_secret = {{ mopidy_spotify_client_secret }}
